{% extends "base.html" %}

{% block content %}

    <div class = 'jumbotron'> 

      <h3> Is there a correlation? Provide search terms to find out. </h3>

      <form method = "POST">

          {{form.hidden_tag()}}
          <br>
          {{form.input_one.label}} {{form.input_one}}
          <br>
          {{form.input_two.label}} {{form.input_two}}
          <br>
          {{form.submit()}}

      </form>

    </div>

    {%if not form.input_one.data %}

      <p style="text-indent: 40px">
        <i> Example: Here is an example showing the correlation between Butterflies and Bitcoin. </i>
      </p>

    {%endif%}

    <p style="text-indent: 40px"> 
      <i>The correlation between {{kw_list[0]}} and {{kw_list[1]}} is {{correlation}}</i>
    </p>

    <div>
        <canvas id="myChart"></canvas>
    </div>



    <script>
      
        const data = {
          labels: {{labels | safe }},
          datasets: [
          {
            label: '{{kw_list[0]}}',
            backgroundColor: 'rgb(255, 0, 0)',
            borderColor: 'rgb(255, 0, 0)',
            data: {{values_a}},
          },
          {
            label: '{{kw_list[1]}}',
            backgroundColor: 'rgb(0, 0, 255)',
            borderColor: 'rgb(0, 0, 255)',
            data: {{values_b}},
          }

          ]
        };
      
        const config = {
          type: 'line',
          data: data,
          options: {}
        };

    </script>

    <script>
        const myChart = new Chart(
          document.getElementById('myChart'),
          config
        );
    </script>
      

{% endblock %}